html {
	height: 100%;
	font-family: Open Sans, sans-serif;
}

body {
	height: 100%;
	background-color: rgb(230, 236, 240);
}

.wrapper {
	display: flex;
	align-items: center;
	height: 100%;
}

.barra-top {
	background-color: white;
	border-bottom: 1px solid #d0d4d9;
	box-shadow: 0px 1px 1px #d0d4d9;
	padding: 11px 0 11px 0;
}

.barra-bottom {
	padding: 11px 0 11px 0;
}

.navbar-wrapper {
	width: 1000px;
}

.has-search {
	margin-bottom: 0px;
}

.has-search .form-control {
	padding-left: 32px;
	height: 32px;
}

.has-search .form-control-feedback {
	background-image: url("../icones/search.png");
	background-repeat: no-repeat;
	background-position: center;
    position: absolute;
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.navbar-user {
	color: black;
    font-weight: 600;
}

.navbar-user:hover {
	color: black;
	text-decoration: none;
}

.navbar-user-icon {
	margin-right: 10px;
}

.navbar-down-arrow {
	margin-left: 10px;
}

.login-titulo {
	font-size: 19pt;
    line-height: 1;    
    font-weight: 500;
}

.login-link {
    font-size: 9pt;
    line-height: 2;
    font-weight: 400;
}

.login-form {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 18px;
}

.login-dados {
	font-size: 11pt;
	font-weight: 400;
	border-radius: 0;
	padding-top: 8px;
	padding-left: 18px;
	height: 44px;
	margin-bottom: 18px;
}

.login-lembrar-texto {
	text-align: left;
	margin-bottom: 18px;
	color: #637381;
	font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.login-lembrar-texto:hover {
	cursor: pointer;
}

.login-lembrar-check {
	margin-right: 10px;
	height: 14px;
    width: 14px;
    vertical-align: middle;
}

.login-botao {
	height: 44px;
    background-color: #0061ff;  
    color: #fff;
    border: none;
    min-height: 32px;
    padding: 0 16px;
}

.login-botao:hover {
	cursor: pointer;
	background: #0070E0;
}

.barra-bottom {
	background-color: white;
	border-top: 1px solid #d0d4d9;
}

.conteudo-wrapper {
	width: 1000px;
	margin-top: 65px;
}

.sidebar-outer {
    position: relative;
}

.fixed {
    position: fixed;
}