html {
    height: 100%;
    font-family: Open Sans, sans-serif;
}

body {
    height: 100%;
    background-color: rgb(230, 236, 240);
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.barra-top {
    background-color: white;
    border-bottom: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
    padding: 11px 0 11px 0;
}

.barra-bottom {
    padding: 11px 0 11px 0;
}

.navbar-wrapper {
    width: 1000px;
}

.has-search {
    margin-bottom: 0px;
}

.has-search .form-control {
    padding-left: 32px;
    height: 32px;
}

.has-search .form-control-feedback {
    background-image: url("../icones/search.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.navbar-user {
    color: black;
    font-weight: 600;
}

.navbar-user:hover {
    color: black;
    text-decoration: none;
}

.navbar-user-icon {
    margin-right: 10px;
}

.navbar-down-arrow {
    margin-left: 10px;
}

.login-titulo {
    font-size: 19pt;
    line-height: 1;
    font-weight: 500;
}

.login-link {
    font-size: 9pt;
    line-height: 2;
    font-weight: 400;
}

.login-form {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 18px;
}

.login-dados {
    font-size: 11pt;
    font-weight: 400;
    border-radius: 0;
    padding: 8px;
    height: 44px;
    margin-bottom: 18px;
}

.login-lembrar-texto {
    text-align: left;
    margin-bottom: 18px;
    color: #637381;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.login-lembrar-texto:hover {
    cursor: pointer;
}

.login-lembrar-check {
    margin-right: 10px;
    height: 14px;
    width: 14px;
    vertical-align: middle;
}

.login-botao {
    font-weight: bold;
    height: 44px;
    background-color: rgb(29, 161, 242);
    color: #fff;
    border: none;
    min-height: 32px;
    padding: 0 16px;
}

.login-botao:hover {
    cursor: pointer;
    background: rgb(26, 145, 218);
}

.barra-bottom {
    background-color: white;
    border-top: 1px solid #d0d4d9;
}

.rodape {
    margin-top: 11px;
    margin-bottom: 11px;
}

.tamanho {
    max-width: 200px;
    width: auto;
}

.centro {
    align-items: center;
    text-align: center;
    -ms-grid-column-align: center;
}

.bold {
    font: bolder;
}

.topo {
    margin-top: 70px;
}

.sidebar-outer {
    position: relative;
}

.border-b {
    border-bottom: 1px solid #d0d4d9;
}

.espacamento {
    max-width: 8px;
    padding: 0px;
}

.texto-secundario {
    font-size: 11pt;
    color: #637381;
}

.input-r20 {
    background-color: #e6ecf0;
    color: #637381 !important;
    border-radius: 20px;
    border: none;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.link-azul {
    color: rgb(27, 149, 224) !important;
}

.link-azul:hover {
    cursor: pointer;
    text-decoration: none;
}

.fundo-hover:hover {
    background-color: rgb(245, 248, 250);
}

ul {
    list-style-type: none;
}

.container-feed {
    max-width: 1000px; 
    margin: 60px auto 20px auto;
}

.container-direita {
    max-width: 260px;
}

.line-height-normal {
    line-height: normal;
}

.img-redonda {
    border-radius: 50%; 
    width: 48px; 
    height: 48px;
}

.img-redonda-pequena {
    border-radius: 50%; 
    width: 32px; 
    height: 32px;
}

.botao-fixo {
    background-color: rgb(29, 161, 242); 
    position: fixed; 
    bottom:20px;
    border-bottom-left-radius: 9999px; 
    border-bottom-right-radius: 9999px; 
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.22) 0px 3px 6px;
}

.botao-fixo:hover {
    cursor: pointer;
    background-color: rgb(26, 145, 218);
}

.icone-32 {
    width: 32px;
    height: 32px;
}

.icone-24 {
    width: 24px;
    height: 24px;
}

.cor-cinza {
    color: #637381;
}

.cor-vermelha {
    color: #E81919;
}

/* azul primário = 1b95e0     cinza primário = 637381    vermelho = E81919   compartilhar = 17bf63 */